<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/icons/css/all.min.css">
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/queries.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Thực đơn dinh dưỡng</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary nav-cs">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><div class="logo">
            <img src="../static/images/logoTLU.png" alt="Logo">
          </div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link "  href="/home">Trang chủ</a>
              <a class="nav-link active" aria-current="page" href="/menu">Thực đơn dinh dưỡng</a>
              <a class="nav-link" href="/cook">Chế biến món ăn</a>
              <a class="nav-link" href="/search">Tra cứu chất dinh dưỡng</a>
            </div>
          </div>
        </div>
      </nav>
      <script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>